<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Amaya</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head> 

<body >
 <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">
   <img src="../img/new.png" height="100px" width="100px"/>
   </a>
   </nav>
    <div class="container">
 <h1>Transaction Successful</h1>
<h1 class="home-title">
  <span>Order</span>
  <span>Placed</span>
  <img src="http://www.clker.com/cliparts/2/k/n/l/C/Q/transparent-green-checkmark-hi.png" height="100px" width="100px"/>
</h1>
<div class="context">
        <h1></h1>
</div>
<div class="area" >
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
  </div >
  </div>
@RenderBody()
</body>
 
</html>

