<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Amaya</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<img id="img1" src="img/adv.jpg" class="responsive">
<img id="img2" src="img/balm.jpg" class="responsive">
<img id="img3" src="img/balm2.jpg" class="responsive">

    <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="https://icon-library.net/images/home-logo-icon/home-logo-icon-0.jpg" width="30" height="30" alt="">
  </a>
  <h1>Payment and shipping information</h1>
</nav>


@RenderBody()
</body>
 
</html>