@{
  Layout = "_Layout";
}
@{
    ViewData["Title"] = "Order Placed";
}

@model Amaya.PayModelView

<h1>Order Placed <img src="https://mpng.pngfly.com/20180314/jxw/kisspng-check-mark-scalable-vector-graphics-clip-art-green-checkmark-5aa8e4e508bf04.5875006615210180850358.jpg" width="30" height="30" /></h1>

