
@{
    ViewData["Title"] = "Order Placed";
}

@model Amaya.PayModelView


<script src="https://js.stripe.com//v1/orders/:id"></script>
<h1>Order Placed <img src="https://www.pngix.com/pngfile/middle/0-412_file-green-tick-svg-green-check-mark-png.png"/></h1>


