@{
    ViewData["Title"] = "Amaya";
}


<div class="container">
  
  
  </div>
  


<p>@Html.ActionLink("Payment", "Index", "Payment")</p>

<p>@Html.ActionLink("shipping", "Create", "NewCustomers")</p>

<p>@Html.ActionLink("Shop", "Order", "Payment")</p>
<p>@Html.ActionLink("add", "Address", "Payment")</p>


