a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  font-size: 40px;  
}
header {
  background-color: #000;  
}
#info {
 margin-left: auto;
 margin-right: auto;
}
h1{
  color: black;
  margin-right: 900px;
  font-weight: 200px;
}

.bg-white {
    /* background-color:  #cfd7df75 !important; */
    opacity: 2;
}
.bg-light {
    background-color: #cfd7df75 !important;  
    margin-bottom: 80px;
}  
/* .nav-item {
  font-weight: 100;
} */

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  /* border-top: 1px solid #e5e5e5; */
}
.border-bottom {
  /* border-bottom: 1px solid #e5e5e5;
} */
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.responsive {
  width: 50%;
  height: 50%;
  height: auto;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
    font-weight: bolder;
    margin-left: 380px;
    font-size: 30px;
    
} 

.Postal {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* .form-control, input {
   /* background-color: #ffffffb8; */
 */
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color:black;
  background-color:  rgba(155, 112, 112, 0.541);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #c05a4de1}

.button:active {
  background-color: #c05a4de1;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#product {
  color: black;
  font-weight: 100;
}
* { 
  box-sizing: border-box; 
}
html {
  margin: 0;
}
#animated-bg {
  background: url("../img/balm2.jpg");
  transition: background 3s;
  margin-top: -30px;
  min-height:100vh;
  position:relative;
}
body { margin: 0; }
#happy {
  color:white;
}
div#texttop { 
    color: #fff;
    width: 30%;
    top: 50%;
    left: 50%;
  transform: translateY(-50%) translateX(-50%);
    padding: 2rem;
    background: rgba(0,0,0,0.3);
    font-family: Oxygen, sans-serif;
  position:absolute;
}
h1 { 
  margin-top: 0; 
  text-align: center;
  font-weight: 100;
}
p { 
   line-height: 1.6; 
  }

@media all and (max-width: 770px) {
    div#texttop { display: none; }
}
#animated-bg:before {
content:"";
position:absolute;
margin-top: -50px;
bottom:0;
left:0;
right:0;
background-color: lightgrey;
opacity:0.3;
}


#img1, #img2, #img3, #img4 {
  width:100%;
  height:100%;
  margin-top: -50px;
  position:fixed;
  z-index:-1;
  animation-name: test;
  animation-duration: 120s;
  opacity:0;
}
#img1 {
  animation-delay:0s;
  -webkit-animation-delay:0s
}
#img2 {
  animation-delay:20s;
  -webkit-animation-delay:20s
}
#img3 {
  animation-delay:20s;
  -webkit-animation-delay:20s
}
#img4 {
  animation-delay:20s;
  -webkit-animation-delay:20s;
}
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 200s;
  -moz-animation-duration: 60s;
  -ms-animation-duration: 200s;
  -o-animation-duration: 60s;
  animation-duration: 200s;
}
.animated.hinge {
  -webkit-animation-duration: 10s;
  -moz-animation-duration: 10s;
  -ms-animation-duration: 10s;
  -o-animation-duration: 10;
  animation-duration: 10s;
}
@-webkit-keyframes test {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
  }
}
@keyframes test {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
  }
}
/* img#image {
  margin-left: -600px;
} */


