@{
  Layout = "_Layout";
}
@{
    ViewData["Title"] = "Order Placed";
}

@model Amaya.PayModelView

<h1>Order Placed</h1> <img src="http://www.clker.com/cliparts/2/k/n/l/C/Q/transparent-green-checkmark-hi.png" height="100px" width="100px"/>

