@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@using Microsoft.Extensions.Options
@inject IOptions<StripeSettings> Stripe
@model Amaya.PayModelView
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://js.stripe.com/v2/"></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="https://js.stripe.com//v1/orders"></script>
<script src="https://js.stripe.com//v1/orders/:id"></script>
<script src="https://js.stripe.com//v1/orders/:id/pay"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@{
    ViewData["Title"] = "Payment";
}

<div class="text-center">
  <form asp-action="Charge" asp-asp-controller="Payment" method="post" id="payment-form" >
  <div class="form-group"> 
    <div id="main-Input" >
      <input asp-for="Parent" type="hidden"/>
      <div class="row container" id="info">
        <div class="col">
        <input asp-for="Name" type="text" placeholder="Name"/>
        </div>
        <div class="col">
    <input asp-for="Quantity" type="text" placeholder="Quantity"/>
    </div>
      <div class="col">
    <input asp-for="Line1" type="text" placeholder="Line1"/>
    </div>
     <div class="col">
    <input asp-for="City" type="text" placeholder="City"/>
    </div>
     <div class="col">
    <input asp-for="State" type="text" placeholder="State"/>
    </div>
    <div class="col">
    <input asp-for="PostalCode" type="text" placeholder="PostalCode"/> 
  <input asp-for="Email" type="email" placeholder="Email"/>
  </div>
     
    </div>
    <div class="container">
   <i class="fa fa-cc-visa" style="color:navy; "></i>
      <i class="fa fa-cc-amex" style="color:blue; "></i>
      <i class="fa fa-cc-mastercard" style="color:red;"></i>
      <i class="fa fa-cc-discover" style="color:orange; "></i>
     
   <div class="input-group mb-2"> 
      
    <input asp-for="OrderId" type="hidden"/>
  <span id="card-number" class=form-control></span>
    </div>
<div class="input-group mb-4">
  <span id="card-cvc" class=form-control></span>
  </div>
<div class="input-group mb-2">
  <span id="card-exp" class=form-control></span>
  </div>
  </div>
</div>
<input asp-for="Token" class="StripeToken" type="hidden"/>
<button type="submit"  class="btn btn-primary button">Pay</button>
</div>
</form>
</div>
<script>
  $(document).ready(function() {
    var stripe = Stripe('pk_test_6zr5xeZ3Wrk3LsUCJuJFeMQy00xzOwmlfn');
    var elements = stripe.elements();
      var style = {
    base: {
      color: '#fff',
      fontWeight: 600,
     
      fontSize: '16px',
      fontSmoothing: 'antialiased',
      ':focus': {
        color: '#424770',
      },
      '::placeholder': {
        color: '#9BACC8',
      },
      ':focus::placeholder': {
        color: '#CFD7DF',
      },
    },
    invalid: {
      color: '#fff',
      ':focus': {
       
      },
      '::placeholder': {
        color: '#FFCCA5',
      },
    },
  };
     var card = elements.create('cardNumber', {
      'placeholder': 'Card Number',
      'style': style 
    });
    card.mount('#card-number');
     
     var cvc = elements.create('cardCvc', {
      'placeholder': 'CVC',
      'style': style
      
    });
    cvc.mount('#card-cvc');
    
    var exp = elements.create('cardExpiry', {      
      'placeholder': 'Card Expiry',
      'style': style 
    });
    exp.mount('#card-exp');
    
    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function (event) {
      event.preventDefault();
      stripe.createToken(card).then(function(result) {
        if(result.error) {
          var errorElement = document.getElementById('card-errors');
          errorElement.texrContent = result.error.message;
        } else {
          stripeTokenHandler(result.token);
          console.log(result.token);
            Console.log(Total);
        }
    });
  });
  function stripeTokenHandler(token) {
    $(".StripeToken").val(token.id);
    form.submit();
  }
  });
</script>